# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/
nosetests.xml
coverage.xml

# Jupyter
.ipynb_checkpoints

# PyBuilder
target/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
instance/

# Database files
*.sqlite3
*.db

# Celery
celerybeat-schedule
celery.log

# Static build artifacts (если используете сборщики)
node_modules/
*.css.map
