django>=4.2,<5.0
djangorestframework>=3.14
psycopg2-binary>=2.9
pandas>=2.0
scikit-learn>=1.2
celery>=5.2
python-dotenv>=0.21
joblib>=1.2
matplotlib>=3.7
plotly>=5.15
django-cors-headers>=3.14
drf-yasg>=1.21.10,<2.0

